<div class="panel bg-card text-card-foreground rounded-xl border border-border-subtle px-6 py-7 shadow-sm">
  <header class="flex flex-col items-center gap-4 text-center">
    <img
      [ngSrc]="logoUrl"
      width="128"
      height="128"
      alt="Techmati"
      class="h-32 w-32"
      priority
    />
    <h1 class="font-display text-primary text-4xl font-semibold leading-10">Bienvenido a Techmati</h1>
    <p class="text-text-secondary max-w-xs text-lg leading-7">Ingresa tu nombre para comenzar a colaborar en la comunidad.</p>
  </header>

  <form class="mt-8 space-y-6" (submit)="onSubmit($event)" novalidate>
    <ng-template #userIcon>
      <span class="lucide--user size-4 " [ngClass]="isInvalid() ?  'text-destructive' : 'text-muted-foreground'" aria-hidden="true"></span>
    </ng-template>

    <div class="space-y-2">
      <label for="username" class="text-text-secondary text-xs font-medium leading-4">Nombre de usuario</label>
      <z-input-group [zAddonBefore]="userIcon" [class.border-destructive!]="isInvalid()" [zDisabled]="isLoading()" >
        <input
          z-input
          type="text"
          placeholder="Ej. Xochitl Tonalli"
          [formField]="form.fullName"
          [zStatus]="isInvalid() ? 'error' : undefined"
        />
      </z-input-group>
      @if (isInvalid()) {
        <div class="bg-destructive/20 py-0.5 px-3 rounded-sm text-sm text-destructive ">
          @for (error of form.fullName().errors(); track error.kind) {
            <div class="flex items-center gap-2">
              <span class="lucide--badge-alert text-lg shrink-0"></span>
              <span >{{ error.message }}</span>
            </div>
          }
        </div>
      }
      @if(error()) {
        <div class="bg-destructive/20 py-0.5 px-3 rounded-sm text-sm text-destructive ">
          <div class="flex items-center gap-2">
            <span class="lucide--x-circle my-auto text-lg shrink-0"></span>
            <span>{{ error() }}</span>
          </div>
        </div>
      }
    </div>
    <button z-button zType="default" zSize="lg" [zLoading]="isLoading()" [zDisabled]="isInvalid()" zFull type="submit" class="font-semibold">
      Continuar
      <span class="lucide--arrow-right ml-1 size-5" aria-hidden="true"></span>
    </button>
  </form>
</div>
