<main class="min-h-screen bg-background pb-28">
  <tm-task-top-bar />

  <section class="mx-auto flex w-full max-w-sm flex-col gap-4 px-5 pb-5 pt-2">
    <tm-batch-progress-panel [nextPhraseTick]="nextPhraseTick()" [phraseSetId]="phraseSetId()" />

    @if (phraseRes.isLoading()) {
      <tm-translation-task-skeleton />
    } @else {
      <tm-source-text-panel [phrase]="phrase()" [isLoading]="false" />
      <tm-translation-textarea
        [language]="phrase()?.language"
        [disabled]="isLoading()"
        [formField]="form.translation"
      />
      <tm-field-error-advice [field]="form.translation" />

      <tm-pronunciation-recorder [formField]="form.pronunciation" [disabled]="isLoading()" />
      <tm-field-error-advice [field]="form.pronunciation" />
    }
  </section>

  <tm-bottom-action-bar [loading]="isUploading()" (continueClick)="goToNextPhrase()" />
</main>
