<main class="min-h-screen bg-background pb-28">
  <tm-task-top-bar />

  <section class="mx-auto flex w-full max-w-sm flex-col gap-4 px-5 pb-5 pt-2">
    <tm-batch-progress-panel [nextPhraseTick]="nextPhraseTick()" [phraseSetId]="phraseSetId()" />
    <tm-source-text-panel
      [phrase]="phrase()"
      [isLoading]="isLoading()"
    />
    <tm-translation-textarea
      [language]="phrase()?.language"
      [disabled]="isLoading()"
      [formField]="form.translation"
    />
    @if (form.translation().touched() && form.translation().invalid()) {
      <div class="rounded-xl border border-red-500 bg-red-50 px-4 py-3 text-sm text-red-700" role="alert">
        <strong class="font-bold">¡Atención!</strong>
        @for (error of form.translation().errors(); track error.kind) {
          <span class="block sm:inline"> {{ error.message }} </span>
        }
      </div>
    }

    <tm-pronunciation-recorder [formField]="form.pronunciation" [disabled]="isLoading()" />
    @if (form.pronunciation().touched() && form.pronunciation().invalid()) {
      <div class="rounded-xl border border-red-500 bg-red-50 px-4 py-3 text-sm text-red-700" role="alert">
        <strong class="font-bold">¡Atención!</strong>
        @for (error of form.pronunciation().errors(); track error.kind) {
          <span class="block sm:inline"> {{ error.message }} </span>
        }
      </div>
    }

  </section>

  <tm-bottom-action-bar [loading]="isUploading()" (continueClick)="goToNextPhrase()"/>
</main>
